@media screen and (max-width: 1919px) and (min-width: 1200px){
  
.main__container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  width: 100vw;
}


.header_content_logo > img:nth-child(1) {
  max-width: 247px;
}

.header_content_navmenu_list_items_item a {
  font-size: 0.813rem;
  line-height: 22px;
}

.header_content_navmenu_list_items {
  column-gap: 19px;
}

.header_content_phone svg {
  padding: 7px;
}

.header_content_phone_items a {
  font-size: 1rem;
  line-height: 20px;
}

.header_content_phone_items a:nth-child(2) {
  font-size: 0.813rem;
}

.header_content_mail svg {
  padding: 7px;
}

.header_content_mail_items p {
  font-size: 0.813rem;
  line-height: 20px;
}

.header_content_mail_items a:nth-child(2) {
  font-size: 0.813rem;
  line-height: 20px;
}

.header_modalbtn {
  max-width: 185px;
  font-size: 0.75rem;
  line-height: 13px;
}

.firstsec_mainpage_content_slider_item {
  padding-top: 146px;
}

.firstsec_mainpage_content_slider_item h1 {
  font-size: 3rem;
  max-width: 1100px;
  padding-bottom: 25px;
}

.firstsec_mainpage_content_slider_item_list {
  padding-top: 25px;
  column-gap: 20px;
}

.firstsec_mainpage_content_slider_item_list_card h3 {
  font-size: 1.25rem;
  line-height: 21px;
}

.firstsec_mainpage_content_slider_item_list_card {
  height: 63px;
}

.firstsec_mainpage_content_slider_item_buttons a {
  padding-top: 26px;
  padding-bottom: 26px;
  max-width: 244px;
  font-size: 0.875rem;
}

.firstsec_mainpage_content_slider_item_buttons a:nth-child(2) {
  max-width: 315px;
}

.firstsec_mainpage_content_slider_item_buttons {
  margin-top: 30px;
}

.header_content_phone > svg:nth-child(1) {
  width: 20px;
  height: 20px;
}

  .header_content_phone svg {
    padding: 10px;
  }

  .header_content_mail svg {
    padding: 10px;
  }


.header_content_mail > svg:nth-child(1) {
  width: 20px;
  height: 20px;
}

.firstsec_mainpage_content_slider_item_list_card:nth-child(2) {
  max-width: 284px;
}

.firstsec_mainpage_content_slider_item_list_card:nth-child(3) {
  max-width: 376px;
}

.firstsec_mainpage_content_slider_item_list_card h3 {
  max-width: 348px;
}


.catalogsec_mainpage {
  margin-top: -37px;
  padding-bottom: 191px;
}

.catalogsec_mainpage_content_list_item_title h3 {
  font-size: 1.5rem;
  margin-bottom: 13px;
}

.catalogsec_mainpage_content_list_item {
  padding-top: 32px;
  padding-bottom: 25px;
  padding-left: 22px;
  padding-right: 25px;
  height: 264px;
}

.catalogsec_mainpage_content_list_item_title p {
  font-size: 1rem;
  line-height: 20px;
  max-width: 405px;
}

.catalogsec_mainpage_content_list_item_btnandimage a {
  font-size: 0.875rem;
  max-width: 196px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.catalogsec_mainpage_content_list_item_image {
  max-width: 285px;
  height: 104px;
}

.catalogsec_mainpage_content_list_item > div:nth-child(2) > a:nth-child(1) > svg:nth-child(2) {
  width: 26px;
}

.catalogsec_mainpage_content_list {
  column-gap: 20px;
  row-gap: 14px;
}


.realizedsolutionssec_mainpage_content_header h3 {
  font-size: 5rem;
  line-height: 45px;
}

.realizedsolutionssec_mainpage_content_header_title h4 {
  font-size: 2.25rem;
  line-height: 45px;
}

.realizedsolutionssec_mainpage_content_header_title p {
  font-size: 1.125rem;
  line-height: 20px;
}

.realizedsolutionssec_mainpage_content_buttons_morebtn {
  font-size: 0.875rem;
  line-height: 13px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 415px;
}

.realizedsolutionssec_mainpage_content_slider_buttons button {
  width: 74px;
  height: 65px;
}

.realizedsolutionssec_mainpage_content_buttons_morebtn > svg:nth-child(2) {
  width: 26px;
}

.realizedsolutionssec_mainpage_content_slider_buttons_left > svg:nth-child(1) {
  width: 26px;
}

.realizedsolutionssec_mainpage_content_slider_buttons_right > svg:nth-child(1) {
  width: 26px;
}

.realizedsolutionssec_mainpage_content_slider_item {
  width: 56.6vw !important;
  margin-right: 26px;
}

.realizedsolutionssec_mainpage_content_slider_item img {
  margin-bottom: 18px;
  height: 567px;
}

.realizedsolutionssec_mainpage_content_slider_item h3 {
  font-size: 1.5rem;
  line-height: 27px;
  max-width: 490px;
  margin-bottom: 12px;
}

.realizedsolutionssec_mainpage_content_slider_item p {
  font-size: 1rem;
  line-height: 20px;
  max-width: 410px;
}




.professionalismsec_mainpage_content_header h3 {
  font-size: 5rem;
  line-height: 45px;
}

.professionalismsec_mainpage_content_header_title h4 {
  font-size: 2.25rem;
  line-height: 45px;
  white-space: nowrap;
}

.professionalismsec_mainpage_content_header_title p {
  font-size: 1.125rem;
  line-height: 20px;
  max-width: 549px;
}

.professionalismsec_mainpage_content_list {
  column-gap: 17px;
  row-gap: 16px;
  margin-top: 32px;
}

.professionalismsec_mainpage_content_list_item h3 {
  font-size: 1.5rem;
  line-height: 26px;
  max-width: 380px;
}

.professionalismsec_mainpage_content_list_item p {
  font-size: 1rem;
  line-height: 20px;
  margin-bottom: 0;
}

.professionalismsec_mainpage_content_list_item {
  padding-top: 50px;
  padding-left: 26px;
  padding-right: 26px;
  padding-bottom: 26px;
  max-height: 294px;
}

.professionalismsec_mainpage_content_list_item > img {
  scale: 0.72;
}

.professionalismsec_mainpage_content_list_item:nth-child(5) > img:nth-child(1) {
  scale: 1;
  width: 294px;
}




.conversationssec_mainpage_content_header h3 {
  font-size: 5rem;
  line-height: 45px;
}

.conversationssec_mainpage_content_header_title h4 {
  font-size: 2.25rem;
  line-height: 45px;
  white-space: nowrap;
}

.conversationssec_mainpage_content_header_title p {
  font-size: 1.125rem;
  line-height: 20px;
  max-width: 549px;
}

.conversationssec_mainpage_content_slider_buttons_right > svg:nth-child(1) {
  width: 26px;
}

.conversationssec_mainpage_content_slider_buttons_left > svg:nth-child(1) {
  width: 26px;
}

.conversationssec_mainpage_content_slider_buttons button {
  width: 74px;
  height: 65px;
}

.conversationssec_mainpage_content_slider {
  margin-top: 52px;
  margin-bottom: 80px;
}

.conversationssec_mainpage_content_marquee h3 {
  font-size: 2.25rem;
  line-height: 45px;
}

.marquee__item {
  padding-top: 30px;
  padding-left: 8px;
  padding-right: 8px;
  width: fit-content;
  flex: 0 0;
}

.marquee__item img{
  max-height: 56px;
}

.conversationssec_mainpage_content {
  padding-bottom: 100px;
}

.conversationssec_mainpage_content_slider_item img{
  max-width: 245px;
  height: 314px;
  object-fit: cover;
  border-radius: 11px;
}

.conversationssec_mainpage {
  margin-bottom: 175px;
}


.blogsec_mainpage_content_header_container h3 {
  font-size: 5rem;
  line-height: 45px;
}

.blogsec_mainpage_content_header_title h4 {
  font-size: 2.25rem;
  line-height: 45px;
  white-space: nowrap;
}

.blogsec_mainpage_content_buttons_morebtn {
  font-size: 0.875rem;
  line-height: 13px;
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 415px;
}


.blogsec_mainpage_content_buttons_morebtn > svg:nth-child(2) {
  width: 26px;
}


.blogsec_mainpage_content_header_title {
  margin-top: 15px;
}

.blogsec_mainpage_content_buttons_morebtn > svg:nth-child(2) {
  width: 26px;
}


.blogsec_mainpage_content_list {
  margin-top: 52px;
  margin-bottom: 155px;
  column-gap: 28px;
  row-gap: 28px;
}

.blogsec_mainpage_content_list_item {
  padding: 19px;
}

.blogsec_mainpage_content_list_item img {
  height: 142px;
}

.blogsec_mainpage_content_list_item h3 {
  margin-top: 21px;
  font-size: 1.5rem;
  line-height: 26px;
}

.blogsec_mainpage_content_list_item_title_main {
  font-size: 1rem;
  line-height: 20px;
}

.blogsec_mainpage_content_list_item_title a {
  font-size: 0.875rem;
  max-width: 196px;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 2px solid #3F99D6;
}

.blogsec_mainpage_content_list_item > div:nth-child(3) > a:nth-child(2) > svg:nth-child(2) {
  width: 26px;
}




.ordersec_mainpage_content {
  background-size: 32vw;
  padding-top: 63px;
  padding-bottom: 124px;
  padding-left: 78px;
  padding-right: 78px;
  margin-bottom: -235px;
}

.ordersec_mainpage_content h3 {
  font-size: 2.25rem;
  line-height: 45px;
}

.ordersec_mainpage_content h4 {
  font-size: 2.25rem;
  line-height: 45px;
}

.ordersec_mainpage_content_header_title {
  font-size: 1.25rem;
  line-height: 27px;
  margin-top: 21px;
  margin-bottom: 30px;
  max-width: 710px;
  letter-spacing: 1%;
}

.ordersec_mainpage_content_form {
  padding-top: 30px;
}

.ordersec_mainpage_content_form_inputs input {
  padding-top: 23px;
  padding-bottom: 23px;
  max-width: 267px;
  font-size: 0.875rem;
  line-height: 13px;
}

.ordersec_mainpage_content_form_inputs {
  column-gap: 23px;
  margin-bottom: 34px;
}

.ordersec_mainpage_content_form > .custom-checkbox > .checkbox {
  width: 25px;
  height: 25px;
}

.ordersec_mainpage_content_form > .custom-checkbox > .checkbox::after {
  left: 8px;
  width: 6px;
  height: 12px;
}

.ordersec_mainpage_content_form > .custom-checkbox {
  gap: 15px;
}

.ordersec_mainpage_content_form > .custom-checkbox > .checkbox-text {
  font-size: 1rem;
  line-height: 20px;
  max-width: 630px;
}

.ordersec_mainpage_content_form > .custom-checkbox > .checkbox-text a {
  font-size: 1rem;
  line-height: 20px;
}

.checkbox-text-title {
  font-size: 1rem;
  line-height: 20px;
  padding-left: 42px;
}

.ordersec_mainpage_content_form_btn {
  font-size: 0.875rem;
  max-width: 455px;
  padding-top: 21px;
  padding-bottom: 21px;
  margin-top: 41px;
  align-items: center;
}

.ordersec_mainpage_content_form_btn > svg:nth-child(2) > path:nth-child(1) {
  width: 26px;
}


footer {
  padding-top: 325px;
}

.footer_content_links_nav_list_item a {
  font-size: 1.125rem;
  line-height: 20px;
}

.footer_content_logo > img:nth-child(1) {
  max-width: 247px;
}

.footer_content_links {
  padding-right: 163px;
}


.footer_content_phone svg {
  padding: 10px;
  margin-right: 12px;
}

.footer_content_mail svg {
  padding: 10px;
}

.footer_content_location svg {
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.footer_content_links {
  row-gap: 50px;
}

.footer_content_phone_items a {
  font-size: 1rem;
  line-height: 20px;
}

.footer_content_phone_items a:nth-child(2) {
  font-size: 0.813rem;
}

.footer_content_mail_items p {
  font-size: 0.813rem;
  line-height: 20px;
}

.footer_content_mail_items a:nth-child(2) {
  font-size: 0.813rem;
  line-height: 20px;
}

.footer_content_location_items p {
  font-size: 0.813rem;
  line-height: 20px;
}

.footer_content {
  padding-bottom: 38px;
}

.footer_content_copyrights {
  padding-top: 29px;
  padding-bottom: 48px;
}

.footer_content_copyrights a {
  font-size: 1rem;
  line-height: 20px;
}

.footer_content_copyrights p {
  font-size: 1rem;
  line-height: 20px;
}

.footer_content_links_nav_list_item a {
  padding-left: 23px;
  padding-right: 23px;
}

.footer_content_phone > svg:nth-child(1) {
  width: 20px;
  height: 20px;
}

.footer_content_mail > svg:nth-child(1) {
  width: 20px;
  height: 20px;
}

.footer_content_location > svg:nth-child(1) {
  width: 20px;
  height: 20px;
}



/*----------------------СТРАНИЦА УСЛУГИ---------------------------*/

.firstsec_secondarypage{
  padding-top: 120px;
}

.catalogsec_servicespage_content {
  padding-bottom: 134px;
}


.catalogsec_servicespage_content h1{
  margin-top: 45px;
  margin-bottom: 25px;
  font-family: "Montserrat-400", sans-serif;
  font-size: 5.375rem;
  text-decoration: none;
  line-height: 75px;
  color: #3F99D6;
}

.catalogsec_servicespage_content h1 > b{
  font-family: "Montserrat-700", sans-serif;
  font-size: 5.375rem;
  text-decoration: none;
  line-height: 75px;
  color: #3F99D6;
}


/*----------------------СТРАНИЦА УСЛУГИ -> УСЛУГА---------------------------*/

.breadcrumbs a {
  font-size: 1rem;
}

.breadcrumbs p {
  font-size: 1rem;
}

.breadcrumbs a:last-child {
  font-size: 1rem;
}


.firstsec_secondarypage_content h1 {
  margin-top: 45px;
  margin-bottom: 25px;
  font-family: "Montserrat-400", sans-serif;
  text-decoration: none;
  font-size: 2.5rem;
  line-height: 52px;
}

.firstsec_secondarypage_content h1 > b {
  font-family: "Montserrat-700", sans-serif;
  font-size: 5.375rem;
  text-decoration: none;
  line-height: 75px;
}


.description_secondarypage_content h3 > b {
  font-size: 3.5rem;
}

.description_secondarypage_content h3 {
  font-size: 3.5rem;
}

.description_secondarypage_content_list_item h3 {
  font-size: 1.313rem;
  line-height: 27px;
}

.description_secondarypage_content h4 {
  margin-top: 21px;
  font-size: 2rem;
}

.keystage_secondarypage_content h3 {
  font-size: 3.5rem;
}

.keystage_secondarypage_content_container_title h4 {
  font-size: 2rem;
}

.advantages_secondarypage_content h3 > b {
  font-size: 3.5rem;
}

.advantages_secondarypage_content h3 {
  font-size: 3.5rem;
}

.advantages_secondarypage_content_list_item p {
  font-size: 1.875rem;
  line-height: 36px;
}

.advantages_secondarypage_content_list_item {
  padding-left: 0px;
  padding-right: 0px;
  height: 340px;
  padding-top: 75px;
}

.keystage_secondarypage {
  margin-top: 50px;
  margin-bottom: 78px;
}

.advantages_secondarypage {
  margin-bottom: 78px;
  margin-top: 5px;
}

.description_secondarypage {
  margin-top: 57px;
  margin-bottom: 20px;
}

.firstsec_secondarypage_content img {
  margin-bottom: 27px;
}

.description_secondarypage_content_list {
  margin-top: 21px;
}

.keystage_secondarypage_content_container {
  margin-top: 35px;
}

.keystage_secondarypage_content b {
  margin-top: 17px;
}

.professionalismsec_secondarypage_content > .professionalismsec_mainpage_content_header > h3 {
  font-size: 3.5rem;
}

.professionalismsec_secondarypage_content {
  padding-top: 69px;
}







.professionalismsec_secondarypage_content > .professionalismsec_mainpage_content_list > .professionalismsec_mainpage_content_list_item:nth-child(5) > h4 {
  font-size: 0.813rem;
  line-height: 17px;
}

.professionalismsec_secondarypage_content > .professionalismsec_mainpage_content_list > .professionalismsec_mainpage_content_list_item:nth-child(5) > img:nth-child(1) {
  width: 101px;
  margin-bottom: 21px;
}

.breadcrumbs a {
  line-height: 19px;
}

.breadcrumbs a:last-child {
  line-height: 19px;
}

.breadcrumbs p {
  line-height: 19px;
}

.firstsec_secondarypage_content img {
  height: 310px;
}

.firstsec_secondarypage_content_title p {
  font-size: 0.813rem;
  line-height: 17px;
}

.description_secondarypage_content h3 > b {
  line-height: 37px;
}

.description_secondarypage_content h3 {
  line-height: 37px;
}

.description_secondarypage_content p {
  margin-top: 21px;
  font-size: 0.813rem;
  line-height: 17px;
}

.description_secondarypage_content h4 {
  line-height: 37px;
}

.description_secondarypage_content_list {
  column-gap: 15px;
  row-gap: 11px;
}

.description_secondarypage_content_list_item img {
  height: 172px;
}

.description_secondarypage_content_list_item {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 19px;
}

.keystage_secondarypage_content h3 {
  line-height: 37px;
}

.keystage_secondarypage_content b {
  font-size: 0.938rem;
  line-height: 17px;
  max-width: 670px;
}

.keystage_secondarypage_content_container img {
  height: 273px;
  margin-top: 6px;
}

.keystage_secondarypage_content_container_title h4:nth-child(1) {
  margin-bottom: 17px;
}

.keystage_secondarypage_content_container_title_list_item p > b {
  font-size: 0.813rem;
  line-height: 18px;
}

.keystage_secondarypage_content_container_title_list_item p {
  font-size: 0.813rem;
  line-height: 18px;
}

.keystage_secondarypage_content_container_title_list li::marker {
  font-size: 0.813rem;
  line-height: 18px;
}

.keystage_secondarypage_content_container_title_list {
  padding-left: 16px;
  margin-bottom: 21px;
}

.keystage_secondarypage_content_container_title p {
  
  font-size: 0.813rem;
  line-height: 17px;
}

.advantages_secondarypage_content h3 {
  line-height: 37px;
}

.advantages_secondarypage_content h3 > b {
  line-height: 37px;
}

.advantages_secondarypage_content_list {
  margin-top: 23px;
}

.advantages_secondarypage_content_list_item {
  row-gap: 23px;
}

.keystage_secondarypage_content_container_reverse > img:nth-child(2) {
  height: 183px;
}

.keystage_secondarypage_content_container_title h4 {
  line-height: 37px;
}

.keystage_secondarypage_content_container_title_list_item img {
  width: 8px;
  height: auto;
}

.keystage_secondarypage_content_container_title {
  max-width: 497px;
}

.keystage_secondarypage_content_container {
  column-gap: 58px;
}

.professionalismsec_secondarypage_content > .professionalismsec_mainpage_content_list > .professionalismsec_mainpage_content_list_item h3 {
  max-width: 560px;
}

.professionalismsec_secondarypage_content > .professionalismsec_mainpage_content_list > .professionalismsec_mainpage_content_list_item {
  padding-left: 14px;
  padding-right: 14px;
}

  .breadcrumbs a {
    font-size: 0.875rem;
  }

  .breadcrumbs p {
    font-size: 0.875rem;
  }

  .breadcrumbs a:last-child {
    font-size: 0.875rem;
  }

  .firstsec_secondarypage_content h1 > b {
    font-size: 4.125rem;
    line-height: 61px;
  }

  .firstsec_secondarypage_content h1 {
    margin-top: 40px;
    font-size: 1.875rem;
    line-height: 37px;
  }

  .description_secondarypage_content h3 > b {
    font-size: 2.5rem;
  }

  .description_secondarypage_content h3 {
    font-size: 2.5rem;
  }

  .description_secondarypage_content h4 {
    margin-top: 23px;
    font-size: 1.563rem;
  }

  .description_secondarypage_content_list_item h3 {
    font-size: 1.125rem;
    line-height: 23px;
    max-width: 535px;
  }

  .keystage_secondarypage_content h3 {
    font-size: 2.5rem;
  }

  .keystage_secondarypage_content_container_title h4 {
    font-size: 1.563rem;
  }

  .advantages_secondarypage {
    margin-bottom: 88px;
    margin-top: 0px;
  }

  .advantages_secondarypage_content h3 > b {
    font-size: 2.5rem;
  }

  .advantages_secondarypage_content h3 {
    font-size: 2.5rem;
  }

  .advantages_secondarypage_content_list_item p {
    font-size: 1.375rem;
    line-height: 25px;
    max-width: 315px;
  }

  .advantages_secondarypage_content_list_item {
    height: 235px;
    width: 375px;
  }

  .professionalismsec_secondarypage_content > .professionalismsec_mainpage_content_header > h3 {
    font-size: 2.5rem;
  }

  .professionalismsec_mainpage_content_list_item p {
    font-size: 0.813rem;
    line-height: 17px;
  }

  .professionalismsec_mainpage_content_list {
    margin-bottom: 100px;
  }

.advantages_secondarypage_content_list_item > img:nth-child(1) {
  scale: 0.62;
}

.advantages_aboutpage_content_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantages_secondarypage_content_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


/*----------------------СТРАНИЦА О КОМПАНИИ---------------------------*/

.firstsec_aboutpage_content_title p:nth-child(2) {
  font-size: 0.875rem;
  line-height: 17px;
  max-width: 569px;
}

.firstsec_aboutpage_content_title {
  row-gap: 20px;
}

.firstsec_aboutpage_content_title p:nth-child(1) {
  font-size: 1rem;
  line-height: 18px;
  max-width: 324px;
}

  .firstsec_aboutpage_content h1 {
    margin-top: 20px;
    font-size: 2.25rem;
  }

  .firstsec_aboutpage_content h1 {
    margin-bottom: 8px;
  }

.firstsec_aboutpage_content > .firstsec_secondarypage_content_title > p{
  font-size: 0.875rem;
}


.advantages_aboutpage_content_list > .advantages_secondarypage_content_list_item h3 {
  font-size: 1.938rem;
  line-height: 35px;
  margin-top: 0px;
  margin-bottom: 24px;
}

.advantages_aboutpage_content_list > .advantages_secondarypage_content_list_item p {
  font-size: 0.875rem;
  line-height: 17px;
  max-width: 292px;
}

.advantages_aboutpage_content_list {
  column-gap: 12px;
  row-gap: 10px;
}


.advantages_aboutpage_content_list > .advantages_secondarypage_content_list_item{
  padding-left: 0px;
  padding-right: 0px;
  width: 378px;
  padding-top: 48px;
  height: 262px;
}




/*----------------------СТРАНИЦА ПРОЕКТЫ---------------------------*/

.tabs_gallerypage_container {
  margin-top: 93px;
}

.tabs_gallerypage_container_buttons label {
  font-size: 0.75rem;
  line-height: 11px;
  padding-top: 22px;
  padding-bottom: 22px;
}

.tabs_gallerypage_container_buttons {
  column-gap: 15px;
}

.tabs_gallerypage_content_container {
  column-gap: 18px;
}

.tabs_gallerypage_content_container > .realizedsolutionssec_mainpage_content_slider_item img {
  height: 400px;
}

.tabs_gallerypage_content_container > .realizedsolutionssec_mainpage_content_slider_item img {
  margin-bottom: 15px;
}

.tabs_gallerypage_content_container {
  row-gap: 50px;
}

.tabs_gallerypage_content_loadmore {
  margin-top: 50px;
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 0.75rem;
  line-height: 11px;
  max-width: 157px;
}

.gallerypage_content {
  padding-bottom: 100px;
}

.tabs_gallerypage_content > .tab > a:nth-child(2) > svg:nth-child(2) {
  width: 22px;
}


/*----------------------СТРАНИЦА БЛОГ---------------------------*/


.firstsec_blogpage_content{
  margin-top: 22px;
}

.firstsec_blogpage_main {
  padding-top: 17px;
  margin-top: 37px;
}

.firstsec_blogpage_main > img:nth-child(1) {
  width: calc(100% - 30px);
  height: 370px;
  margin-bottom: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.firstsec_blogpage_main_container_title h3 {
  font-size: 1.188rem;
  line-height: 22px;
  max-width: 550px;
}

.firstsec_blogpage_main_container_title p {
  font-size: 0.875rem;
  line-height: 17px;
}

.firstsec_blogpage_main_container_moreinfo {
  font-size: 0.75rem;
  line-height: 11px;
  max-width: 154px;
  padding-top: 19px;
  padding-bottom: 19px;
  align-items: center;
  border: 2px solid #3F99D6;
}

.firstsec_blogpage_main_container_moreinfo > svg:nth-child(2) {
  width: 22px;
}

.firstsec_blogpage_main_timing_time img {
  margin-bottom: 0;
  height: auto;
}

.firstsec_blogpage_main_timing_date img {
  margin-bottom: 0;
  height: auto;
}

  .firstsec_blogpage_main_timing_time img {
    width: 21px;
  }

  .firstsec_blogpage_main_timing_date img {
    width: 20px;
  }

.firstsec_blogpage_main_timing_time p {
  font-size: 0.75rem;
  line-height: 11px;
}

.firstsec_blogpage_main_timing_date p {
  font-size: 0.75rem;
  line-height: 11px;
}

.firstsec_blogpage_main_timing_date {
  column-gap: 9px;
}

.firstsec_blogpage_main_timing_time {
  column-gap: 9px;
}

.firstsec_blogpage_main_timing {
  padding-top: 17px;
  padding-bottom: 17px;
}

.blogsec_blogpage_content_list {
  margin-top: 59px;
}

.firstsec_blogpage_main_timing_card {
  margin-left: -17px;
  margin-right: -17px;
  margin-bottom: -17px;
}

.firstsec_blogpage_main_timing_card {
  margin-top: 28px;
}

.blogsec_blogpage_content_list {
  gap: 19px;
  row-gap: 46px;
  margin-bottom: 80px;
}

.blogsec_blogpage {
  margin-bottom: 127px;
}

.blogsec_blogpage_content_loadmore {
  padding-top: 19px;
  padding-bottom: 19px;
  font-size: 0.75rem;
  line-height: 11px;
  max-width: 157px;
}

.blogsec_blogpage_content_loadmore > svg:nth-child(2) {
  width: 22px;
}

.blogsec_blogpage_content_list > .blogsec_mainpage_content_list_item{
  padding: 17px !important;
}



/*----------------------СТРАНИЦА КОНТАКТЫ---------------------------*/

.firstsec_contactpage_content_title p:nth-child(1) {
  font-size: 0.938rem;
  line-height: 17px;
  max-width: 315px;
  padding-left: 412px;
}

.firstsec_contactpage_main_title_item img{
  margin-bottom: 0;
  scale: 0.64;

}

.firstsec_contactpage_main_title_item h3 {
  font-size: 1.25rem;
  line-height: 22px;
  padding-left: 5px;
  padding-right: 6px;
}

.firstsec_contactpage_main_title_item p {
  font-size: 0.875rem;
  line-height: 14px;
}


.firstsec_contactpage_content_title {
  margin-bottom: 45px;
  max-width: 458px;

}

.firstsec_contactpage_main_title_item a {
  font-size: 0.875rem;
  line-height: 17px;
}

.firstsec_contactpage_main_title_item:nth-child(3) {
  align-items: flex-start;
}

.firstsec_contactpage_main_title_item:nth-child(4) {
  justify-content: center;
}


#map {
  width: 100%;
  height: 216px;
}

.ymaps-2-1-79-balloon {
  width: 72px;
  height: 76px;
  object-fit: contain;
  background: transparent;
}

.firstsec_contactpage_main_title_item {
  padding-top: 15px;
  padding-bottom: 15px;
}

.firstsec_contactpage_main_title_item:nth-child(2) {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.firstsec_contactpage_main_title_item:nth-child(3) {
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.firstsec_contactpage_main_title_item:nth-child(3) img{
  align-self: first baseline;
  padding-top: 6px;
}

.firstsec_contactpage_main_title_item:nth-child(4) {
  padding-top: 19px;
  padding-bottom: 20px;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.firstsec_contactpage_main_title {
  column-gap: 5px;
  row-gap: 4px;
}

  .firstsec_contactpage_content_title p:nth-child(1) {
    padding-left: 0;
    width: 100%;
  }

  .firstsec_contactpage_content_title {
    max-width: 780px;
    width: 100%;
  }

.firstsec_contactpage_main {
  padding-bottom: 100px;
  align-items: unset;
}

.firstsec_contactpage_main_title {
  max-width: 458px;
}

.firstsec_contactpage_main_title_item:nth-child(2) {
  padding-left: 0;
  padding-right: 0;
}

.firstsec_contactpage_main_title_item:nth-child(3) {
  padding-left: 0;
  padding-right: 0;
}

.firstsec_contactpage_main_title_item:nth-child(1) {
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  padding-top: 19px;
    padding-bottom: 19px;
}



/*----------------------СТРАНИЦА БЛОГ - ЗАПИСЬ---------------------------*/

.firstsec_blog_item_page_content > .blog_item_content > .firstsec_blogpage_main_timing {
  border-radius: 13px 13px 0 0;
  margin-top: 26px;
  margin-bottom: -14px;
}

.keystage_blogitempage_content_image {
  margin-top: 23px;
  margin-bottom: 23px;
  height: 370px;
  border-radius: 13px;
}

.keystage_blogitempage_content p {
  font-size: 0.875rem;
  line-height: 19px;
  max-width: 772px;
}

.keystage_blogitempage_content h4 {
  margin-bottom: 10px;
}

.keystage_secondarypage_content b {
  max-width: 782px;
}

.keystage_secondarypage_content_container_title_list_custom-markers {
  padding-left: 2px;
}

.blogsec_blogitempage {
  margin-top: 0;
}

.blogsec_blogitempage_content_list {
    margin-top: 0;
  }

.blogsec_blogitempage_content > h3:nth-child(1) {
  margin-bottom: 10px;
}

.blogsec_blogitempage {
  margin-bottom: 26px;
}

.keystage_blogitempage_content h4 {
  font-size: 1.563rem;
  line-height: 38px;
}


/*----------------------КВИЗ---------------------------*/

.modal_kviz {
  padding-top: 30px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 23px;
  max-width: 531px;
}


.modal_kviz_form_slider_item_header_title h3 {
  font-size: 1.375rem;
  line-height: 22px;
}

.modal_kviz_form_slider_item_header_title p {
  font-size: 0.938rem;
}

.modal_kviz_form_slider_item_header_step b {
  font-size: 1.875rem;
  line-height: 22px;
}

.modal_kviz_form_slider_item_header_step p {
  font-size: 1.25rem;
  line-height: 22px;
}

.custom-radio-group {
  max-width: 260px;
  margin-top: 22px;
}

.custom-radio {
  padding-top: 11px;
  padding-bottom: 11px;
  font-size: 0.875rem;
  line-height: 22px;
}

.custom-radio-box {
  width: 14px;
  height: 14px;
}

.modal_kviz {
  height: 284px;
}

.modal_kviz_form_slider_item:nth-child(5) > div:nth-child(1) > div:nth-child(1) > p:nth-child(2) {
  font-size: 0.84rem;
  line-height: 19px;
}

.modal_kviz_form_slider_item_main_lastslide input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  font-size: 0.875rem;
  line-height: 22px;
}

.modal_kviz_form_slider_item_main_lastslide {
  max-width: 260px;
  margin-top: 19px;
}

.modal_kviz_form_slider_item_main_lastslide_btn {
  font-size: 0.75rem;
  line-height: 11px;
  padding-top: 19px;
  padding-bottom: 19px;
  max-width: 203px;
}

.title_manager_flex {
  left: 243px;
}

.title_manager {
  max-width: 220px;
  margin-left: 0;
  font-size: 0.875rem;
  line-height: 15px;
}

.modal_kviz_form_slider_item_main_lastslide_btn > svg:nth-child(2) {
  width: 22px;
}

.modal_kviz_form_slider_nextbtn {
  font-size: 0.75rem;
  line-height: 11px;
  padding-top: 19px;
  padding-bottom: 19px;
  max-width: 203px;
}

.modal_kviz_form_slider_nextbtn > svg:nth-child(2) {
  width: 22px;
}

.modal_kviz_form_slider_prevbtn {
  font-size: 0.75rem;
  line-height: 11px;
  padding-top: 16px;
  padding-bottom: 16px;
  max-width: 203px;
}

.modal_kviz_form_slider_nextbtn > svg:nth-child(1) {
  width: 22px;
}

.custom-radio-box::after {
  content: url('../img/modal_arrow_1200.svg');
  position: absolute;
  left: 1px;
  top: -7px;
}

.modal_kviz.first-slide {
  height: 217px;
}

.modal_kviz_form_slider_item_main_usertitle {
  margin-top: 22px;
  padding: 7px 13px;
  font-size: 0.875rem;
  color: #939393;
  max-width: 234px;
}




/*----------------------МОДАЛКА---------------------------*/

.modal_order_content > h3:nth-child(2) {
  font-size: 1.375rem;
  line-height: 22px;
}

.modal_order_content > h4 {
  font-size: 0.938rem;
}

.form_modal_order input {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  font-size: 0.875rem;
  line-height: 22px;
}

.form_modal_order_btn {
  font-size: 0.75rem;
  line-height: 11px;
  padding-top: 19px;
  padding-bottom: 19px;
}

.modal_cont {
  max-width: 575px;
  padding-bottom: 35px;
}

.form_modal_order > .custom-checkbox {
  margin-top: 10px;
}

.form_modal_order > .custom-checkbox > .checkbox-text {
  font-size: 0.875rem;
}

.form_modal_order > .custom-checkbox > .checkbox-text a {
  font-size: 0.875rem;
}

.form_modal_order_btn > svg:nth-child(2) {
  width: 20px;
}






}




@media screen and (max-width: 1439px) and (min-width: 1200px){

/*----------------------ГЛАВНАЯ СТРАНИЦА---------------------------*/

.main__container {
  max-width: 1166px;
  padding-left: 17px;
  padding-right: 17px;
}

  .header_content_logo > img:nth-child(1) {
    max-width: 206px;
  }

  .header_content_navmenu_list_items_item a {
    font-size: 0.688rem;
    line-height: 18px;
  }

  .header_content_navmenu_list_items {
    column-gap: 15px;
  }

  .header_content_phone svg {
    padding: 8px;
    width: 17px;
    height: 17px;
  }

  .header_content_phone_items a {
    font-size: 0.875rem;
    line-height: 17px;
  }

  .header_content_phone_items a:nth-child(2) {
    font-size: 0.688rem;
  }

  .header_content_mail svg {
    width: 17px;
    height: 17px;
  }

  .header_content_mail_items p {
    font-size: 0.688rem;
    line-height: 17px;
  }

  .header_content_mail_items a:nth-child(2) {
    font-size: 0.688rem;
    line-height: 17px;
  }

  .header_modalbtn {
    max-width: 160px;
    font-size: 0.688rem;
    line-height: 11px;
  }

  .firstsec_mainpage_content_slider_item {
    padding-top: 111px;
  }

  .firstsec_mainpage_content_slider_item h1 {
    font-size: 2.563rem;
    max-width: 970px;
  }

  .firstsec_mainpage_content_slider_item_list {
    padding-top: 16px;
  }

  .firstsec_mainpage_content_slider_item_list_card h3 {
    font-size: 0.938rem;
    line-height: 18px;
  }

  .firstsec_mainpage_content_slider_item_list_card {
    height: 53px;
  }
 
  .firstsec_mainpage_content_slider_item_buttons {
    margin-top: 25px;
  }

  .firstsec_mainpage_content_slider_item_buttons a {
    padding-top: 21px;
    padding-bottom: 21px;
    max-width: 203px;
    font-size: 0.688rem;
  }

  .firstsec_mainpage_content_slider_item_buttons a:nth-child(2) {
    max-width: 263px;
  }


.header_content_phone svg {
  margin-right: 10px;
}

.header_content_mail svg {
  margin-right: 10px;
}

.header_modalbtn {
  padding-top: 12px;
  padding-bottom: 12px;
}

.firstsec_mainpage_content_slider_item_list_card {
  padding-top: 14px;
  padding-bottom: 14px;
}

.firstsec_mainpage_content_slider_item_list_card:nth-child(2) {
  max-width: 228px;
}

.firstsec_mainpage_content_slider_item_list_card:nth-child(3) {
  max-width: 305px;
}

.firstsec_mainpage_content_slider_item_list_card h3 {
  max-width: 265px;
}

.firstsec_mainpage_content_slider_item_list_card img {
  width: 39px;
}

.firstsec_mainpage_content_slider_item_buttons {
  column-gap: 10px;
}

.catalogsec_mainpage {
  margin-top: -100px;
}

  .catalogsec_mainpage_content_list_item {
    padding-top: 27px;
    height: 215px;
  }

  .catalogsec_mainpage_content_list_item_image {
    max-width: 237px;
    height: 87px;
  }

  .catalogsec_mainpage_content_list_item > div:nth-child(2) > a:nth-child(1) > svg:nth-child(2) {
    width: 22px;
  }

  .catalogsec_mainpage_content_list_item_btnandimage a {
    font-size: 0.688rem;
    max-width: 156px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .catalogsec_mainpage_content_list_item_title p {
    font-size: 0.875rem;
    line-height: 17px;
    max-width: 353px;
  }

  .catalogsec_mainpage_content_list {
    column-gap: 17px;
    row-gap: 12px;
  }

.catalogsec_mainpage_content_list_item_btnandimage a {
  line-height: 11px;
}

  .catalogsec_mainpage {
    padding-bottom: 134px;
  }

  .realizedsolutionssec_mainpage_content_header h3 {
    font-size: 4.125rem;
    line-height: 38px;
  }

  .realizedsolutionssec_mainpage_content_header_title h4 {
    font-size: 1.875rem;
    line-height: 38px;
  }

  .realizedsolutionssec_mainpage_content_header_title p {
    font-size: 1rem;
    line-height: 17px;
  }

  .realizedsolutionssec_mainpage_content_buttons_morebtn {
    font-size: 0.688rem;
    line-height: 11px;
    padding-top: 18px;
    padding-bottom: 18px;
    max-width: 339px;
  }

  .realizedsolutionssec_mainpage_content_buttons_morebtn > svg:nth-child(2) {
    width: 22px;
  }

  .realizedsolutionssec_mainpage_content_slider_buttons_left > svg:nth-child(1) {
    width: 22px;
  }

  .realizedsolutionssec_mainpage_content_slider_buttons_right > svg:nth-child(1) {
    width: 22px;
  }

  .realizedsolutionssec_mainpage_content_slider_buttons button {
    width: 62px;
    height: 54px;
  }

  .realizedsolutionssec_mainpage_content_slider_item img {
    margin-bottom: 16px;
    height: 472px;
  }

  .realizedsolutionssec_mainpage_content_slider_item {
    margin-right: 22px;
  }

  .realizedsolutionssec_mainpage_content_slider_item h3 {
    font-size: 1.25rem;
    line-height: 22px;
    max-width: 410px;
  }

  .realizedsolutionssec_mainpage_content_slider_item p {
    font-size: 0.875rem;
    line-height: 17px;
    max-width: 337px;
  }

.realizedsolutionssec_mainpage_content_header_title p {
  max-width: 375px;
}

.realizedsolutionssec_mainpage_content_buttons {
  margin-top: 40px;
  margin-bottom: 25px;
}


.realizedsolutionssec_mainpage_content_slider {
  margin-bottom: 142px;
}

.professionalismsec_mainpage_content_list_item:nth-child(5) {
  display: flex;
}

  .professionalismsec_mainpage_content_header h3 {
    font-size: 4.188rem;
    line-height: 38px;
  }

  .professionalismsec_mainpage_content_header_title h4 {
    font-size: 1.875rem;
    line-height: 38px;
  }

  .professionalismsec_mainpage_content_header_title p {
    font-size: 1rem;
    line-height: 17px;
  }

  .professionalismsec_mainpage_content_list_item h3 {
    font-size: 1.25rem;
    line-height: 22px;
  }

  .professionalismsec_mainpage_content_list_item p {
    font-size: 0.875rem;
    line-height: 15px;
  }

  .professionalismsec_mainpage_content_list_item > img {
    scale: 0.6;
  }

  .professionalismsec_mainpage_content_list_item {
    padding-top: 43px;
    max-height: 239px;
  }

  .professionalismsec_mainpage_content_list {
    column-gap: 14px;
    row-gap: 14px;
  }

  .professionalismsec_mainpage_content_list_item:nth-child(5) > img:nth-child(1) {
    width: 245px;
  }


.professionalismsec_mainpage_content_list {
  margin-bottom: 132px;
}

.conversationssec_mainpage_content {
  padding-top: 66px;
}

  .conversationssec_mainpage_content_header h3 {
    font-size: 4.125rem;
    line-height: 38px;
  }

  .conversationssec_mainpage_content_header_title h4 {
    font-size: 1.875rem;
    line-height: 38px;
  }

  .conversationssec_mainpage_content_header_title p {
    font-size: 1rem;
    line-height: 17px;
  }

  .conversationssec_mainpage_content_slider_buttons_left > svg:nth-child(1) {
    width: 22px;
  }

  .conversationssec_mainpage_content_slider_buttons_right > svg:nth-child(1) {
    width: 22px;
  }

  .conversationssec_mainpage_content_slider_buttons button {
    width: 62px;
    height: 54px;
  }

  .conversationssec_mainpage_content_slider_item img {
    max-width: 185px;
    height: 261px;
    border-radius: 9px;
  }

  .conversationssec_mainpage_content_slider {
    margin-top: 43px;
    margin-bottom: 67px;
  }

  .conversationssec_mainpage_content_marquee h3 {
    font-size: 1.875rem;
    line-height: 38px;
  }

  .marquee__item {
    padding-top: 25px;
    padding-left: 6px;
    padding-right: 6px;
  }

  .conversationssec_mainpage_content {
    padding-bottom: 85px;
  }

  .conversationssec_mainpage {
    margin-bottom: 130px;
  }

  .blogsec_mainpage_content_header_container h3 {
    font-size: 4.125rem;
    line-height: 38px;
  }

  .blogsec_mainpage_content_header_title h4 {
    font-size: 1.875rem;
    line-height: 38px;
  }

  .blogsec_mainpage_content_buttons_morebtn {
    font-size: 0.688rem;
    line-height: 11px;
    padding-top: 19px;
    padding-bottom: 19px;
    max-width: 339px;
  }

  .blogsec_mainpage_content_buttons_morebtn > svg:nth-child(2) {
    width: 22px;
  }

  .blogsec_mainpage_content_header_title {
    margin-top: 10px;
  }

  .blogsec_mainpage_content_list {
    margin-top: 43px;
    margin-bottom: 130px;
    column-gap: 23px;
  }

  .blogsec_mainpage_content_list_item {
    padding: 17px;
  }

  .blogsec_mainpage_content_list_item img {
    height: 118px;
  }

  .blogsec_mainpage_content_list_item h3 {
    margin-top: 17px;
    font-size: 1.25rem;
    line-height: 22px;
  }

  .blogsec_mainpage_content_list_item_title_main {
    font-size: 0.875rem;
    line-height: 17px;
  }

  .blogsec_mainpage_content_list_item_title a {
    font-size: 0.688rem;
    max-width: 155px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .blogsec_mainpage_content_list_item > div:nth-child(3) > a:nth-child(2) > svg:nth-child(2) {
    width: 22px;
  }

.blogsec_mainpage_content_list_item_title a {
  line-height: 11px;
}

  .ordersec_mainpage_content {
    padding-bottom: 71px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .ordersec_mainpage_content h3 {
    font-size: 1.875rem;
    line-height: 38px;
  }

  .ordersec_mainpage_content h4 {
    font-size: 1.875rem;
    line-height: 38px;
  }

  .ordersec_mainpage_content_header_title {
    font-size: 1.063rem;
    line-height: 23px;
    margin-top: 19px;
    margin-bottom: 25px;
    max-width: 590px;
  }

  .ordersec_mainpage_content_form {
    padding-top: 25px;
  }

  .ordersec_mainpage_content_form_inputs input {
    padding-top: 19px;
    padding-bottom: 19px;
    max-width: 215px;
    font-size: 0.688rem;
    line-height: 11px;
  }

  .ordersec_mainpage_content_form_inputs {
    column-gap: 19px;
    margin-bottom: 29px;
  }

  .ordersec_mainpage_content_form > .custom-checkbox > .checkbox {
    width: 21px;
    height: 21px;
  }

  .ordersec_mainpage_content_form > .custom-checkbox > .checkbox::after {
    left: 7px;
    width: 4px;
    height: 10px;
  }

  .ordersec_mainpage_content_form > .custom-checkbox {
    gap: 12px;
  }

  .ordersec_mainpage_content_form > .custom-checkbox > .checkbox-text {
    font-size: 0.875rem;
    line-height: 17px;
    max-width: 525px;
  }

  .ordersec_mainpage_content_form > .custom-checkbox > .checkbox-text a {
    font-size: 0.875rem;
    line-height: 17px;
  }

  .checkbox-text-title {
    font-size: 0.875rem;
    line-height: 17px;
    padding-left: 35px;
  }

  .ordersec_mainpage_content_form_btn {
    font-size: 0.688rem;
    max-width: 355px;
    padding-top: 13px;
    padding-bottom: 14px;
    margin-top: 29px;
    align-items: center;
  }

.checkbox-text-title {
  margin-top: 15px;
}

.ordersec_mainpage_content_form_btn {
  line-height: 11px;
}

.ordersec_mainpage_content_form_btn > svg:nth-child(2) {
  width: 22px;
}

  .footer_content_logo > img:nth-child(1) {
    max-width: 205px;
  }

  .footer_content_links_nav_list_item a {
    font-size: 0.875rem;
    line-height: 17px;
  }

  .footer_content_links_nav_list_item a {
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer_content_links {
    padding-right: 160px;
  }

  .footer_content_links {
    row-gap: 41px;
  }

  .footer_content_phone > svg:nth-child(1) {
    width: 16px;
    height: 16px;
  }

  .footer_content_phone svg {
    padding: 9px;
    margin-right: 10px;
  }

  .footer_content_phone_items a {
    font-size: 0.875rem;
    line-height: 17px;
  }

  .footer_content_phone_items a:nth-child(2) {
    font-size: 0.688rem;
  }

  .footer_content_mail > svg:nth-child(1) {
    width: 16px;
    height: 16px;
  }

  .footer_content_mail svg {
    padding: 9px;
  }

  .footer_content_mail_items p {
    line-height: 17px;
  }

  .footer_content_mail_items a:nth-child(2) {
    line-height: 17px;
  }

  .footer_content_location_items p {
    line-height: 17px;
  }

  .footer_content {
    padding-bottom: 31px;
  }

  .footer_content_copyrights {
    padding-top: 15px;
    padding-bottom: 33px;
  }

  .footer_content_copyrights a {
    font-size: 0.813rem;
    line-height: 17px;
  }

  .footer_content_copyrights p {
    font-size: 0.813rem;
    line-height: 17px;
  }

.footer_content_links_nav_list_item_separator {
  height: 17px;
  width: 1px;
}

.footer_content_mail svg {
  margin-right: 10px;
}

.footer_content_location svg {
  margin-right: 10px;
}


/*----------------------СТРАНИЦА УСЛУГИ---------------------------*/

.firstsec_secondarypage{
  padding-top: 95px;
}

.breadcrumbs {
  column-gap: 7px;
}

.breadcrumbs a{
  font-family: "Montserrat-400", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  line-height: 27px;
  color: #616161;
  cursor: pointer;
}

.breadcrumbs a:last-child{
  font-family: "Montserrat-600", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  line-height: 27px;
  color: #616161;
}

.breadcrumbs p{
  font-family: "Montserrat-400", sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  line-height: 27px;
  color: #616161;
}

.catalogsec_servicespage_content h1{
  margin-top: 39px;
  margin-bottom: 21px;
  font-family: "Montserrat-400", sans-serif;
  font-size: 4.125rem;
  text-decoration: none;
  line-height: 67px;
  color: #3F99D6;
}

.catalogsec_servicespage_content h1 > b{
  font-family: "Montserrat-700", sans-serif;
  font-size: 4.125rem;
  text-decoration: none;
  line-height: 67px;
  color: #3F99D6;
}












}










/* Адаптив */
@media (max-width: 768px) {
  .custom-balloon {
    width: 200px;
    padding: 10px;
  }

  .custom-balloon__logo {
    height: 48px;
  }
}